
.quicksand{
	font-family: 'Abel';
	font-size: 20px;
	text-transform: uppercase;
	color:#6c7d99;
}
.abel{
	font-family: 'Abel';
	font-size: 25px;
	color:#6c7d99;
	/*text-transform: uppercase;*/
}
#second{
	margin-top: 140px;
}
blockquote{
	border-left: 10px solid grey;
}
.navbar{
	background:transparent;
	border-bottom: none;

}
.navbar-default .navbar-nav>li>a {
    color:#6c7d99;
    font-weight: 500;
}
.effect{
	font-family: 'Abel';
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}
/*.shape:hover{
	/*background-color:grey;
	border: 1.5px solid black;
	border-radius: 4.5px;
	font-family: 'Abel';
	cursor: pointer;
    box-shadow: 0 0 1px black;
}*/
.shape:hover,
.shape:focus,
.shape:active {
  border:1.5px solid #66a5ad;
  border-radius: 8px;
  transition:ease-in-out 0.5s;
  background-position: right center;
  outline: 0;
  background:white;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
     color:#6c7d99;
     background-color: white; 
     /*border:1.5px solid #66a5ad;*/
     border-radius: 8px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	 color:#6c7d99;
     background-color: transparent;
}
.scrolled {
    background: #d5dfef;
}
.img-circular{
	 margin-top:150px;
	 width: 300px;
	 height: 300px;
	 /*background: url(images/abhijeet.jpg) top left no-repeat, url(images/abhijeet.jpg) top left repeat-y;*/
	 background-size: cover;
	 border-radius: 400px;
	 -webkit-border-radius: 400px;
	 -moz-border-radius: 400px;
	}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/*#first {
    min-height: 110vh;
    background: #e78001;
    background: -webkit-gradient(linear, right top, left top, from(#ec8302),to(#e78001));
    background: linear-gradient(to left, #ec8302, #e78001);
    background-image: -webkit-gradient(linear, right top, left top, from(#185a9d), to(#43cea2));
    background-image:linear-gradient(-90deg, #2b71bb, #4fe8b8);
}*/
.carousel{
	/*margin-top: 100px;*/
	/*height: 500px;
	width: 80%;*/
	background: black;
}
.set{
	margin: 0;
	padding: 0;
}
.item{
	height: 800px;
	width:100%;
}
#second .jumbotron{
	margin-top: 60px;
	background-color: #80bd9e;
}


.gradient {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(at 300px 300px, rgba(159,0,191,.9) 0, #4D4FA7 70%);
}

.paper {
  background: #fff;
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #eee,
    /* The second layer shadow */
    0 -10px 1px -4px #6c7d99,
     /* The third layer */
    0 -20px 0 -10px #eee,
    /* The third layer shadow */
    0 -20px 1px -9px #6c7d99;
    /* Padding for demo purposes */
    padding: 30px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
		.shape:hover,
		.shape:focus {
		  border:1.5px solid #66a5ad;
		  border-radius: 8px;
		  transition:ease-in-out 0.8s;
		  background-position: right center;
		  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
          box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
	    }
	    #second{
	    	margin-top:10px;
	    }
	   .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		    background-color:transparent;
		    border:0px;
		}
		.navbar-default .navbar-toggle {
		    border-color:333945;
		}
		.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		    border-color: #e7e7e7;
		    background: #DAE0E2;
		}
}